.wrap {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 400px;
    line-height: 25px;
    margin: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 3px solid #aaa;
}
